@model RoleDetails
<h1 class="h3">Edit Role</h1>

<hr>


<div class="row">
    <div class="col-md-4">

        <form asp-controller="Admin" asp-action="EditRole">
            <input type="hidden" name="RoleId" value="@Model.Role.Id">
            <input type="hidden" name="RoleName" value="@Model.Role.Name">

            <h6 class="bg-info text-white p-1">Add to @Model.Role.Name</h6>
            <table class="table table-sm">
                @if (Model.NonMembers.Count() == 0)
                {
                    <tr>
                        <td colspan="2">bütün kullanıcılar role ait</td>
                    </tr>
                }
                else
                {
                    @foreach (var user in Model.NonMembers)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>
                                <input type="checkbox" name="IdsToAdd" value="@user.Id">
                            </td>
                        </tr>
                    }
                }
            </table>


            <h6 class="bg-info text-white p-1">Remove from @Model.Role.Name</h6>
            <table class="table table-sm">
                @if (Model.Members.Count() == 0)
                {
                    <tr>
                        <td colspan="2">Role ait kullanıcı bulunamadı</td>
                    </tr>
                }
                else
                {
                    @foreach (var user in Model.Members)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>
                                <input type="checkbox" name="IdsToDelete" value="@user.Id">
                            </td>
                        </tr>
                    }
                }
            </table>
            <button type="submit" class="btn btn-primary my-3">Save Changes</button>

        </form>

    </div>

</div>