@model CategoryModel
<h1 class="h3">Edit Category</h1>
<hr>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="admin" asp-action="EditCategory" method="POST">
            
            <div class="products">
                @if(Model.Products != null){
              @for(int i = 0; i<Model.Products.Count;i++){
            <input type="hidden" name="Products[@i].ProductId" value="@Model.Products[@i].ProductId">
            <input type="hidden" name="Products[@i].Name" value="@Model.Products[@i].Name">
            <input type="hidden" name="Products[@i].Price" value="@Model.Products[@i].Price">
            <input type="hidden" name="Products[@i].ImageUrl" value="@Model.Products[@i].ImageUrl">
            <input type="hidden" name="Products[@i].IsApproved" value="@Model.Products[@i].IsApproved.ToString()">
                }
                }
              
            </div>
            
            

            <div class="text-danger" asp-validation-summary="All"></div>
            <input type="hidden" name="CategoryId" value="@Model.CategoryId">
            <div class="mb-3">
                <label asp-for="@Model.CategoryId" class="form-label"></label>
                <input class="form-control" asp-for="@Model.CategoryId" disabled>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label"></label>
                <input class="form-control" asp-for="@Model.Name">
                <span class="text-danger" asp-validation-for="Name"></span>

            </div>
            <div class="mb-3">
                <label asp-for="@Model.Url" class="form-label"></label>
                <input class="form-control" asp-for="@Model.Url">
                <span class="text-danger" asp-validation-for="Url"></span>

            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label"></label>
                <textarea class="form-control" asp-for="@Model.Description"> </textarea>
                <span class="text-danger" asp-validation-for="Description"></span>

            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Save Category</button>
            </div>
        </form>
    </div>
    <div class="col-md-8">
<div class="row">
    <div class="col-md-12">
       
         @if (Model.Products != null)
                {            
                    if( Model.Products.Count > 0){

                 
        <table class="table table-bordered table-responsive table-sm align-middle mt-4">
            <thead>
                <tr class="text-center">
                    <td>Product ID</td>
                    <td>Product Image</td>
                    <td>Product Name</td>
                    <td>Product Price</td>
                    <td style="width:150px;">Actions</td>
                </tr>
            </thead>

            <tbody>

                
                    @foreach (var product in Model.Products)
                    {
                        <tr class="text-center">
                            <td>@product.ProductId</td>
                            <td><img src="~/images/@product.ImageUrl" width="40" height="40"></td>
                            <td>@product.Name</td>
                            <td>₺@product.Price</td>
                            <td>
                                <a href="/admin/products/@product.ProductId" class="btn btn-primary btn-sm me-2">Edit</a>
                                    <form action="/admin/deleteproductfromcategory" class="d-inline" method="POST"> 
                                    <input type="hidden" name="ProductId" value="@product.ProductId">
                                    <input type="hidden" name="CategoryId" value="@Model.CategoryId">
                                     <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                            </td>
                        </tr>
                    }
                
               
            </tbody>

        </table>
           }
        }
         else
                {
                    <div class="alert alert-danger">
                        <h3>No Products</h3>
                    </div>
                }

    </div>
</div>
    </div>
</div>
@section Scripts{
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>

}