<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    @if (IsSectionDefined("MessageBox"))
    {
        @RenderSection("MessageBox", false)
    }
    else
    {
        <div class="alert alert-success text-center m-0">

            Welcome to ShopApp!</div>
    }


    @await Html.PartialAsync("_navbar")
    @RenderSection("Header", false)

    <main class="my-5">
        <div class=" container">
            @if (IsSectionDefined("Categories"))
            {
                <div class="row">
                    <div class="col-md-3">
                        @RenderSection("Categories", false)
                    </div>
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            }
        </div>
    </main>

    <footer class="py-5 bg-dark text-white-50 text-center">Shop App | 2023</footer>
    @RenderSection("Scripts", false)
</body>

</html>