@model ProductDetailModel


<div class="row">
    <div class="col-md-3 border">
        <img src="~/images/@Model.Product.ImageUrl" class="img-fluid my-3">
    </div>
    <div class="col-md-8 border mx-3 p-3">
        <h1 class="card-title mb-3 ">@Model.Product.Name</h1>
        <hr>
        @foreach (var item in Model.Categories)
        {
            <a asp-controller="shop" asp-action="list" asp-route-category="@item.Url"
                class="btn btn-link p-0 mb-3 text-white">@item.Name</a>
        }
        <div class="row mb-5">
            <p class="card-text m-0"><strong>Açıklama:</strong> @Html.Raw(Model.Product.Description)</p>
            <p class="card-text"><strong>Fiyat:</strong> ₺@Model.Product.Price</p>
        </div>
        <form asp-controller="Cart" asp-action="AddToCart" method="POST" class="form-inline">
            <input type="hidden" name="productId" value="@Model.Product.ProductId">
            <div class="input-group mb-3" style="width:250px">
                <input type="number" name="quantity" value="1" class="form-control" min="1" step="1">
                <div class="input-group-text">
                    <button type="submit" class="btn">
                        <i class="fas fa-cart-plus pe-2"></i>Add to Cart
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
